@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .input{
    @apply focus:border-blue-400 border border-[#ccc] py-1 px-3 rounded-lg text-base outline-none w-full;
  }
  .map-styles{
    @apply mt-3
  }
  .map-container_styles{
    @apply w-full h-[350px]
  }
  /* .map-container_styles > div{
    /* @apply !h-0 !w-0 */
  /* } */
.tags_input_field{
   @apply outline-none p-2 border-b-2 w-full border-blue-500
}
.tags_selected span{
  @apply rounded-3xl bg-[#ccc] px-2 font-extralight
}
.tags_selected{
  @apply mt-2 flex flex-wrap  space-x-1 space-y-1
}
.tags_selected span button{
  @apply text-[20px] ml-[2px]
}
  .custom-button{
    @apply flex border border-transparent px-3 py-1 rounded mt-3;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: hsla(260,11%,95%,1);
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  padding: 0.7rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}


